@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <style>
        body {
            background-image: url('images/BikiniBottom.png');
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: #a594da;
        } 
        p{
            font-size: 3em;
            color: orange;
            margin-top: 500px;
            margin-left: 200px;
            font-weight: bold;
            text-align:center;
            display: inline-block;
            border-radius: 8px;
            background: white;
            padding: 8px;
        }
       
    </style>
</head>
<body>    
        <p >Welcome to the Jelly Pages</p>
</body>

